/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,body{
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif !important;
}
nav{
  background-color: #1d5e77;
}
nav .navbar-brand{
  /* background-color: #f6f6db */
  background: #f6f6db;
  background: -moz-linear-gradient(top, #f6f6db 0%, #f2b2b5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f6f6db), color-stop(100%, #f2b2b5));
  background: -webkit-linear-gradient(top, #f6f6db 0%, #f2b2b5 100%);
  background: -o-linear-gradient(top, #f6f6db 0%, #f2b2b5 100%);
  background: -ms-linear-gradient(top, #f6f6db 0%, #f2b2b5 100%);
  background: linear-gradient(to bottom, #f6f6db 0%, #f2b2b5 100%);
  color: #1d5e77;
  padding: 10px 30px;
  border-radius: 3px;
  font-weight: bold;
}
nav a{  color: #fff;}
nav a:hover{  color: #f6f6db;}

footer{
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: #1d5e77;
  text-align: center;
}

.container-home{
  min-height: 100%;
  margin: 0 auto;
  width: 80%;
  padding-top: 30px;
}

.btn-send{
  background-color: #f6f6db;
  color: #1d5e77;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(29,94,119,0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(29,94,119,0.5);
  box-shadow: 0px 0px 2px 0px rgba(29,94,119,0.5);
}
