/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,body{height: 100%;}
nav{
  background-color: #1d5e77;
}
nav .navbar-brand{
  background-color: #f6f6db;
  color: #1d5e77;
  padding: 10px 30px;
  border-radius: 3px;
  font-weight: bold;
}
nav a{  color: #fff;}
nav a:hover{  color: #def2f9;}

footer{
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: #1d5e77;
  text-align: center;
}

.container-home{
  min-height: 100%;
  margin: 0 auto;
  width: 80%;
  padding-top: 100px;
}

h2{  color: #1d5e77;}
